# IGNORE ALL
*/**/*
*.*

# ALLOW
!public/**/*
!src/**/*
!demo/**/*
!dist/**/*
!media/**/*

!.gitignore
!.npmignore
!package.json
!pnpm-lock.yaml
!README.md
!tsconfig.json
!webpack.config.js

!server.js
!xecute-start.sh

# EXCEPTIONS
src/omg/dont/show/this/nu6es/**/*
node_modules